{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Greetings {{ user }},</p><br>

    <p>Thank you for choosing to spend your valuable time to play a match at {{ turf_name }}.</p>

    <p>Your match has been sheduled on {{ date }} From {{ start }} to {{ end }}.</p>

    <p>Your Payment of {{ price }} is pending, Pay at Turf.</p>

    <p>Please ensure to reach {{ turf_name }} on time.</p>

    <p>Good Luck! to all players...</p><br><br>

    <p>Thanks and Regards,</p>
    <p>Sportzap Team</p>

    <img src="cid:logo" alt="Your Logo" style="height: 6rem; width: 6rem;">

</body>
</html>