{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><b><h1>Registration</h1></b></title>
</head>
<body>
    <p>Greetings,</p>
    <p>Your account has been created successfully.</p>
    <p>Here is your username and password</p>
    <p>Email : <b>{{ user_email }}</b></p>
    <p>Password : <b>{{ user_password }}</b></p>
    <p>We thankyou for registering in <b>Sportzap</b></p>
    <p>Keep it secure.</p><br><br>

    <p>Best regards,</p>
    <p>The Sportzap Team</p>
    <br>
    <img src="cid:logo" alt="Company Logo" style="height: 6rem; width: 6rem;">
</body>
</html>